html,
body {
  background: linear-gradient(30deg, #0039cb, #dc39fa);
  font: 'Open Sans', sans-serif;
  height: 100vh;
  overflow: hidden;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

/* Animated particles background */
.particles-js {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 70%;
}

#title-heading {
  color: #ffffff;
  text-decoration: none;
}

/* Background img */
.background-img-left,
.background-img-right {
  background-repeat: no-repeat;
  height: 40%;
  margin-top: 10%;
  position: absolute;
  z-index: 1;
}

.background-img-left {
  background: url('/src/assets/Asset\ 1.svg');
  background-position: left;
}

.background-img-right {
  background: url('/src/assets/Asset\ 2.svg');
  background-position: right;
  right: 0;
}

/* Main heading */
.main-heading {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 5%;
}

/* Login and sign up buttons */
.button-container {
  position: relative;
}

button {
  align-items: center;
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  display: grid;
  height: 50px;
  left: 0;
  margin: auto;
  margin-top: 80%;
  position: absolute;
  padding: 3px 15px;
  right: 0;
  text-align: right;
  transition: 0.2s ease all;
}

button:hover {
  background-color: #ffffff;
  color: #000000;
}

button a {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  padding: 3px 15px;
  text-decoration: none;
}

button a:hover {
  color: #000000;
}

.button-item a {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  padding: 15px;
  text-decoration: none;
}

.button-item a:hover {
  /* background-color: #ffffff; */
  color: #000000;
}

/* Styling for Modal */

.modal {
  font-family: 'Open-sans', sans-serif;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 10;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 15rem;
  height: 26rem;
  overflow-y: scroll;
  border-radius: 0.5rem;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* Footer */
footer {
  bottom: 40px;
  margin: auto;
  right: 0;
  left: 0;
  position: absolute;
}

li.social-item {
  display: inline-block;
}

.fa-instagram,
.fa-twitter {
  color: #ffffff;
  font-size: 1.75rem;
  margin-right: 10px;
  margin-left: 30px;
  margin-bottom: 50px;
  z-index: 10;
}

nav ul li:nth-child(2) {
  margin-right: 22%;
}

footer p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 40px;
}

/* Heart icon */
.fa-heart {
  color: #ef4b64;
}

.legal {
  display: inline-block;
}

ul.legal {
  list-style: none;
}

.terms {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75rem;
}

.conduct {
  left: 30px;
  position: absolute;
}

.privacy {
  position: absolute;
  right: 30px;
}

.service-terms {
  position: absolute;
  right: 135px;
}

/* Tablet styling for button */
@media only screen and (min-device-width: 768px) {
  #title-heading {
    margin-top: 35%;
  }

  .button-container {
    position: relative;
  }

  button {
    align-items: center;
    background: transparent;
    border: 1px solid #ffffff;
    display: grid;
    height: 50px;
    left: 0;
    margin: auto;
    margin-top: 40%;
    position: absolute;
    right: 0;
    text-align: right;
    transition: 0.2s ease all;
    z-index: 20;
  }

  .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 20;
  }

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    z-index: 20;
  }
  .close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
  }
  .close-button:hover {
    background-color: darkgray;
  }
  .show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }

  /* Footer */
  footer {
    bottom: 30px;
    margin: auto;
    right: 0;
    left: 0;
    position: absolute;
  }

  li.social-item {
    display: inline-block;
  }

  .fa-instagram,
  .fa-twitter {
    color: #ffffff;
    font-size: 1.75rem;
    margin-right: 10px;
    margin-left: 30px;
    margin-bottom: 250%;
    z-index: 10;
  }

  nav ul li:nth-child(2) {
    margin-right: 9%;
  }

  footer p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    margin-top: 60px;
  }
}

/* Desktop screen styling rules */
@media only screen and (min-device-width: 1024px) and (max-device-width: 3840px) {
  button {
    align-items: center;
    background: transparent;
    border: 1px solid #ffffff;
    display: grid;
    height: 50px;
    left: 0;
    margin: auto;
    margin-top: 20%;
    position: absolute;
    right: 0;
    text-align: right;
    transition: 0.2s ease all;
    z-index: 20;
  }

  /* Footer */
  footer {
    bottom: 30px;
    margin: auto;
    right: 0;
    left: 0;
    position: absolute;
  }

  li.social-item {
    display: inline-block;
  }

  .fa-instagram,
  .fa-twitter {
    color: #ffffff;
    font-size: 1.75rem;
    margin-right: 10px;
    margin-left: 30px;
    margin-bottom: 50px;
    z-index: 10;
  }

  nav ul li:nth-child(2) {
    margin-right: 4%;
  }

  footer p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    margin-top: 60px;
  }
}
